@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Zack's Second Assignment";
    ViewBag.H1 = "Hi, my name is Zack Jolie. I usually go by 'Zack', but you can also call me by my last name (it's pronounced like 'Jolly').";
}   

<body>
    <hr />
    <p>
        I'm excited to take IS 413. I hope to improve my app development and deployement skills. I'm also looking forward to learning C#.
        Generally, I hope to improve my programming skills in order to increase my value in the industry. Although, I'm not sure
        exactly want to do with what I learn in the core, I have a few ideas.
    </p>
    <br />
    <p>As of now, these are the three jobs I'm most interested in:</p>
    <ul>
        <li>Programer</li>
        <li>Data Analyst</li>
        <li>Project Manager</li>
    </ul>
</body>
<img src="img/IMG-2295.JPEG" />
<br />
<br />
<br />
<hr />
<br />
<br />